# Python virtual environment
.venv/
venv/
ENV/
.coverage

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
node_modules/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Pipenv specific
.venv/

# Project specific
*.log
*.table.txt
dive
