repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-ast
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks-nodejs
    rev: v1.1.2
    hooks:
      - id: markdown-toc
        args: [--maxdepth=3]
        files: ^(README\.md|CONTRIBUTING\.md)$

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3.14

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ["--max-line-length=90", "--ignore=W503,E501"]
        additional_dependencies: [flake8-docstrings]

  - repo: https://github.com/PyCQA/pylint
    rev: v4.0.4
    hooks:
      - id: pylint
        args:
          - "--disable=no-value-for-parameter,no-member,E0401,R0913,W0612,R0917,R0903,W0718,W0621,C0413,C0415,R0801"
          - "--ignore=.git,tests/*,venv,tests/__pycache__,migrations"
          - "--max-attributes=10"

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [--py313-plus]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, markdown, yaml]
